/*html {
    background-color: black;
}*/
#heading {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: black;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.9;
    border-bottom: 1px solid seashell;
}

.nav-links ul {
    display: flex;
    width: 500px;
    justify-content: space-around;
}

.logo img {
    height: 50px;
    padding: 0 10px;
}

header .nav-links a {
    color: seashell;;
    font-family: Helvetica;
    text-decoration: underline;
    font-size: 22px;
}

main {
    position: relative;
    top: 69px;
    background: black;
}


/*Banner section*/

#banner {
    position: relative;
    /*background-image: url("/Users/oliviagaston/Dropbox/websites/teacozy/teacozy/resources/images/img-mission-background.jpg");*/
    background-image: url('C:/Users/ongaston/Downloads/Projects/teacozy/resources/images/img-mission-background.jpg');
    width: 90%;
    height: 700px;
    z-index: 5;
    background-size: cover;
    background-position: center;
    left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stripe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: black;
    opacity: 90%;
}

.stripe h2 {
    font-family: Helvetica;
    color: seashell;
    font-weight: bold;
    font-size: 30px;
    padding: 20px 0;
}

.stripe h4 {
    font-family: Helvetica;
    color: seashell;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 25px;
    padding-top: 20px;
}

/*Tea of the month*/

.subtitle {
    font-family: Helvetica;
    color: seashell;
    font-weight: bold;
    font-size: 25px;
}

.tea-sub {
    padding-top: 10px;
    padding-bottom: 10px;
}

#tea-containers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: auto;
}

.tea {
    display: inline-flex;
    flex-direction: column;
    height: 245px;
    min-width: 300px;
    justify-content: center;
    align-items: center;
}