/*html {
    background-color: black;
}*/
#heading {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: black;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.9;
    border-bottom: 1px solid seashell;
}

.nav-links ul {
    display: flex;
    width: 500px;
    justify-content: space-around;
}

.logo img {
    height: 50px;
    padding: 0 10px;
}

header .nav-links a {
    color: seashell;;
    font-family: Helvetica;
    text-decoration: underline;
    font-size: 22px;
}

main {
    position: relative;
    top: 69px;
}


/*Banner section*/

#banner {
    background-image: url('/resources/images/img-mission-background.jpg');
    width: 100%;
}